:root {
  --background-color: #6c373f;
  --highlight-color: #ff6b6b;
}

body {
  background: var(--background-color);
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100vh;
}

#alice-container {
  width: 90vh;
  display: grid;
  place-items: center;
  grid-template-areas:
    "a1 . ."
    ". a2 ."
    ". . a3";
}

img {
  filter: drop-shadow(2px 4px 6px black); /* 添加阴影效果 */
  transition: transform 0.3s ease; /* 悬停时的平滑过渡效果 */
}

img:hover {
  transform: scale(1.1); /* 悬停时放大 */
}

#alice1 {
  grid-area: a1;
}

#alice2 {
  grid-area: a2;
}

#alice3 {
  grid-area: a3;
}
